[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/nsgomez/gzcom-dll.git
[submodule "vendor/sc4-render-services"]
	path = vendor/sc4-render-services
	url = https://github.com/caspervg/sc4-render-services.git
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg.git
